body {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #308b14;
    padding: 20px;
}

.content {
    flex-grow: 1;
    padding: 20px;
}

.navbar {
    background-color: #007bff;
}

.navbar .btn-user {
    color: black;
    background-color: aqua;
}